.deprecated-warning-container {
  border-radius: 0.5em;
  display: grid;
  gap: 0.5em;
  grid-template-rows: auto 1fr;
  /* margin-top: 1em; */
  margin-bottom: 1em;
  padding: 1em;
}

.deprecated-warning-icon {
  font-size: 18pt;
}

.deprecated-warning-title-container {
  /* background-color: cyan; */
  display: grid;
  gap: 0.5em;
  align-items: center;
  grid-template-columns: auto 1fr;
}

.deprecated-warning-title-div {
  display: grid;
  font-weight: bold;
  font-size: 12pt;
  gap: 0.5em;
  grid-template-columns: auto 1fr;
  /* margin: 0; */
}

.deprecated-warning-content-container {
  /* background-color: #88aa44; */
  display: grid;
}

.deprecated-warning-content {
  font-size: 14pt;
  margin: 0;
}
