.doc-unavailable-container {
  align-items: center;
  display: grid;
  height: 90%;
  justify-items: center;
}

.doc-unavailable-subcontainer {
  align-items: center;
  display: grid;
  gap: 1em;
  justify-items: center;
}

.doc-unavailable-img {
  opacity: 1;
}
