.document-h1 {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: bold;
}

.document-h2 {
  margin: 0;
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: bold;
}

.document-body {
  font-size: 1.2em;
  line-height: 150%;
  margin: 0;
  margin-bottom: 0.25em;
}

.document-code {
  background-color: #ff2b8011;
  border-radius: 0.25em;
  color: #ff2b80;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.9em;
  font-style: normal;
  padding: 0.1em 0.25em 0.1em 0.25em;
}

.document-table {
  border: solid 1px #777777;
  border-collapse: collapse;
}

.document-thead {
  background-color: #dddddd;
}
