.code-disp-container {
  background-color: #282c34;
  border-radius: 0.5em;
  display: grid;
  overflow: hidden;
  margin: 1em;
}

.code-disp-title {
  color: #ffcc88;
  color: #ddeeff;
  /* font-weight: bold; */
  font-size: 11pt;
  margin: 0;
}

.code-disp-toolbar-container {
  align-items: center;
  background-color: #00000044;
  display: grid;
  padding: 0.25em 0.5em 0.25em 0.5em;
  grid-template-columns: 1fr auto;
}

.code-disp-toolbar-button {
  background-color: #ffffff;
  color: #4a4a4a;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  margin: 0;
  padding: 0;
}

.code-disp-toolbar-button:active {
  opacity: 0.75;
}

.code-disp-toolbar-button-div {
  align-items: center;
  display: grid;
  padding: 0.25em 0.75em 0.25em 0.75em;
  gap: 0.25em;
  grid-template-columns: auto 1fr;
  justify-items: center;
}

.code-disp-toolbar-button-icon {
  font-size: 18px;
}

.code-disp-content-container {
  color: #eeeeee;
  display: grid;
  grid-template-columns: auto minmax(54px, auto) 1fr 24px;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.code-disp-content-mod-container {
  /* background-color: cyan; */
  display: grid;
}

.code-disp-content-line-container {
  /* background-color: pink; */
  color: #ddeeff88;
  display: grid;
  text-align: end;
}

.code-disp-content-code-container {
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
}

.code-disp-pre {
  margin: 0;
  font-size: 12pt;
}

.code-disp-content-each-line {
  line-height: 135%;
}

/* .code-disp-content-code-actual {} */
