.home-scn-container {
  display: grid;
}

.home-scn-howItWorks-container {
  align-items: center;
  display: grid;
  justify-items: center;
  height: 400px;
}

.home-scn-howItWorks-subcontainer {
  align-items: center;
  display: grid;
  gap: 1em;
  justify-items: center;
}
