.langmenu-container {
  display: grid;
}

.langmenu-item-container {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em;
  padding: 1em;
}

.langmenu-item-container:hover {
  background-color: #88888822;
}

.langmenu-item-tick-container {
  align-items: center;
  display: grid;
  font-size: 14pt;
  justify-items: center;
  width: 24pt;
}

.langmenu-item-text-container {
  display: grid;
  grid-template-rows: auto auto;
}

.langmenu-item-displayName {
  font-size: 12pt;
  font-weight: bold;
}

.langmenu-item-nativeName {
  font-size: 12pt;
}
