.navbar-container {
  display: grid;
  position: fixed;
  top: 0%;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1;
}

.navbar-navlink-container {
  display: grid;
  grid-template-rows: 1fr auto;
  text-decoration: none;
  transition-duration: 0.2s;
}

.navbar-navlink-container:hover {
  background-color: #ddeeff22;
  transition-duration: 0.1s;
}

.navbar-navlink-container:focus {
  background-color: #ddeeff22;
}

.navbar-navlink-container:active {
  background-color: #00000022;
  /* background-color: #094a5e; */
  opacity: 1;
}

.navbar-navlink-button {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.navbar-navlink-button-text {
  /* display: grid; */
  color: #ffffff;
  font-size: 24px;
}

.navbar-navlink-img {
  height: 24px;
  width: 24px;
}

.navbar-squareitem-container {
  align-items: center;
  cursor: pointer;
  display: grid;
  justify-items: center;
}

.navbar-logo-container {
  align-items: center;
  display: grid;
  column-gap: 0.5em;
  justify-items: center;
  padding: 0 1em 0 1em;
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
}

.navbar-logo-img {
  height: 28px;
}

.navbar-logo-text {
  color: white;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 0.1em;
  font-family: "Work Sans", sans-serif;
}

.navbar-version-num {
  color: #ddeeff;
  font-size: 0.75em;
  margin: 0;
  margin-bottom: 1em;
  margin-inline-start: 0.5em;
}

.navbar-navlink-text {
  align-items: center;
  color: #ffffff;
  display: grid;
  font-size: 1.1em;
  justify-items: center;
  font-weight: 300;
  padding: 0 1em 0 1em;
}

.navbar-navlink-indicator {
  transition-duration: 0.15s;
}

.navbar-menu-container {
  min-width: 250px;
  max-height: 75vh;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 1;
}

.navbar-menu-underlay {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-new-item {
  animation-name: newItem;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes newItem {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #ffffff44;
  }
  100% {
    background-color: transparent;
  }
}
