.docsidebar-container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  position: fixed;
  top: 54px;
}

.docsidebar-subcontainer {
  align-items: flex-start;
  display: grid;
  gap: 0.5em;
  justify-items: start;
  overflow-y: scroll;
}

.doc-sidebar-sectionTitle {
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
}

.doc-sidebar-link {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25em;
  text-decoration: none;
  margin-inline-start: 0.5em;
}

.docsidebar-mini-tabber-container {
  display: grid;
  justify-items: center;
  width: 100%;
}
