.document-header-copy-button {
  cursor: pointer;
  color: #888888;
  margin-inline-start: 0.5em;
  margin-inline-end: 0.5em;
  font-size: 18pt;
}

.document-header-copy-button:active {
  opacity: 0.5;
}

.document-h1 {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2.15em;
  font-weight: bold;
}

.document-h2 {
  margin: 0;
  margin: 0.5em 0;
  font-size: 1.825em;
  font-weight: bold;
}

.document-body {
  font-size: 1.325em;
  line-height: 150%;
  margin: 0;
  margin-bottom: 0.25em;
}

.document-code {
  background-color: #ff2b8011;
  border-radius: 0.25em;
  color: #ff2b80;
  font-size: 14pt;
  font-style: normal;
  padding: 0.1em 0.25em 0.1em 0.25em;
}

.document-code-link {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: #ff2b80;
}

.document-table {
  border: solid 1px #777777;
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
  /* width: 100%; */
}

.document-thead {
  /* background-color: #dddddd; */
}

.document-td {
  vertical-align: top;
}
