.code-container {
  /* display: grid; */
  padding-top: 1em;
  padding-bottom: 1em;
}

.code-subcontainer {
  border-radius: 0.5em;
  background-color: #282c34;
  color: #eeeeee;
  padding: 1.5em 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.code-mod {
  text-align: center;
  width: 1em;
}

.code-line {
  color: #ffffff88;
  text-align: right;
}

.code-pre {
  margin: 0;
  font-size: 1.25em;
}

.code-commonPadding {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-inline-start: 0.5em;
  padding-inline-end: 1em;
}
